/config/config.php
/config/*.pem
/config/config_msg_template.php

/nbproject/
/install/install.lock
/static/banner/*
/static/product_hpic/*
/static/product_hpic2/*
!/static/product_hpic/index.html
!/static/product_hpic2/index.html
!/static/product_hpic/index.html
/static/images_gmess/*
/static/script/lib/umeditor/php/upload/

/uploads/product_hpic/*
!/uploads/product_hpic/index.html
/uploads/product_hpic_tmp/*
!/uploads/product_hpic_tmp/index.html
/uploads/product_qrcode/*
!/uploads/product_qrcode/index.html
/uploads/banner_tmp/*
!/uploads/banner_tmp/index.html
/uploads/banner/*
!/uploads/banner/index.html
/uploads/brands/*
!/uploads/brands/index.html
/uploads/images_banner/*
!/uploads/images_banner/index.html
/uploads/gmess/*
!/uploads/gmess/index.html
/uploads/gmess_tmp/*
!/uploads/gmess_tmp/index.html
/uploads/umeditor/*
/uploads/ueditor/*
!/uploads/ueditor/index.html

/config/apiclient_cert.pem
/config/apiclient_cert.p12
/config/apiclient_key.pem
/config/rootca.pem

/models/json_cache/

/html/products/*
!/html/products/index.html

.DS_Store
.DS_Store?

/static/css/*.map
/exports/orders_export/export_files/*.xlsx
*.
.idea/

tmp/tpl_compile
tmp/tpl_cache
tmp/sql_cache
tmp/img_cache

*.cache
*.cache.php
/.svn/entries
/.svn/format
/.svn/wc.db
/.svn/pristine
.idea
